.container-cadastro-grupo {
  background-color: #222222;
  height: 100vh;
}

.button-login {
  padding: 12px 30px 12px 30px;
  background-color: #3a53bf;
  border: 0;
  color: #ffff;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.titulo-cadastro-grupo {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: aliceblue;
}

.formulario-cadastro-grupo {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
