* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: 0.3s;
}

a:hover {
  opacity: 1;
}
