.background-drop {
  width: 300px;
  background-color: #ffff;
}

.nome-user {
  color: rgb(0, 0, 0);
  background-color: #ffff;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.grupos button {
  background: rgb(41, 47, 133);
  width: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn-grupos {
  display: flex;
}
.nome-grupo {
  color: white;
}
.nome-grupo::first-letter {
  text-transform: uppercase;
}
.menu-nome-user::first-letter {
  text-transform: uppercase;
}

.conversa {
  background-color: blueviolet;
}
.icone {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: left;
}

.menu-item button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: left;
  transition: 0.3s;
}

.menu-item:hover button {
  color: rgb(255, 255, 255);
  background-color: rgb(54, 54, 54);
}

.menu {
  max-height: 100px;
  overflow: auto;
}
