.container-conversa {
  background-color: #222222;
  height: 100vh;
}

li {
  color: black;
}
.container-conversa-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: azure;
  max-height: 400px;
  height: 400px;
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.conversa-dentro {
  height: 90%;
  overflow-x: hidden;
}

.data {
  font-size: 15px;
}

.input-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
  height: 10%;
}

.input-button input {
  background-color: #222222;
  color: white;
  width: 100%;
  margin-right: 10px;
}
.input-button button {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.input-button button:hover {
  color: white;
  background-color: rgb(41, 47, 133);
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}
.user {
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: left;
  padding: 2px;
}

.texto-user {
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  margin: 5px;
  background-color: #222222;
  text-align: end;
  padding: 5px;
}
.texto-user-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

.mensagem {
  color: white;
}

.texto {
  border-radius: 5px;
  max-width: 300px;
  margin: 5px;
  background-color: #3576ca;
  text-align: start;
  padding: 5px;
}

hr {
  margin: 5px;
}

div input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
div .envia-mensagem {
  font-weight: bold;
  border: 1px solid rgb(228, 227, 227);
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 1;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  color: black;
  padding: 5px 10px;
}
