.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgb(41, 47, 133);
}

.navbar h2 a {
  opacity: 1;
}
.navbar h2 {
  font-size: 40px;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.button-navbar {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.button-sair {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
.button-sair:hover {
  background-color: black;
  color: white;
}

.container-navbar {
  display: flex;
  gap: 10px;
}
